.postContainer {
  display: flex;
  flex-direction: column;
}

.postContainer>.post {
  color: black;
  margin-bottom: 20px;
  border: 3px solid black;
  padding: 20px;
  text-decoration: none;
  transform: .2s;
}

.postContainer>.post:hover {
  transform: scale(1.1);
}

.postContainer>.post>h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.postContainer>.post>div {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-weight: 400;
}

.postContainer>.post>div>.author {
  font-size: 18px;
  font-weight: 600;
}
